.cart {
    
    &__title {
        font-size: 30px;
        color: $color-red;
        text-align: center;
        margin-bottom: 20px;
    }

    &__total-amount,
    &__total-price {
        text-align: center;
        font-size: 20px;
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        font-weight: bold;
    }

    &__item{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__clear{
        background: #fff;
        font-weight: bold;
        padding: 5px;
        border: 1px solid #000;
    }

    &-buttons{
        display: flex;
        justify-content: space-around;
        margin: 15px 0;

        button{
            width: 300px;
        }
    }
}

.pizza-item-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 20px;

    &-title{
        width: 25%;
        text-align: left;
    }

    &-price{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    &-remove{
        background: #fff;
        border: 1px solid grey;
        font-size: 14px;
        padding: 5px 10px;
        color: #000;
        margin: 15px 0;
        width: 10%;
    }

    &-count{
        width: 5%;
        font-size: 16px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    &-total-price{
        width: 15%;
        font-size: 16px;
        text-align: center;
        color: $color-red;
        font-size: 18px;

    }
}

.pizza-item-amount{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #646363;

    &-add,
    &-remove{
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        font-size: 30px;
        font-weight: bold;
        margin: 0 15px;
        background: none;
        border: none;
        outline: none;

        &:hover{
            &::after,
            &::before{
                background: rgb(122, 10, 10);
            }
        }


        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 2px;
            width: 100%;
            background: #000;
        }
    }

    &-add{
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 2px;
            background: #000;
        }
    }
    &-number{
        width: 60px;
        height: 25px;
        text-align: center;
        background: inherit;
        border: none;
        font-size: 30px;

        &::placeholder{
            color: $color-red;
        }
    }
}

.promo{
    display: flex;
    justify-content: center;

    &-code{
        width: 350px;
        padding: 10px 15px;
        font-size: 16px;
    }
}

.use-promo-code{
    padding: 10px;
    background: #adce93;
    border: 1px solid #adce93;
    margin-left: 20px;
    font-weight: bold;
    outline: none;
}

.order-container-title{
    text-align: center;
}
.delivery{
    width: 500px;
    margin: 0 auto;
    border: 1px solid grey;
    margin-top: 20px;
    padding: 20px;
}

.delivery-item{
    display: flex;
    justify-content: space-between;
    margin: 10px 0; 

    input, select{
        width: 250px;
    }

    &-btn{
        display: flex;
        justify-content: center;
        margin: 25px 0;
    }
}

.order-info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px;
    
    .pizzas{
        width: 40%;

    }
    .pizzas-info {
        width: 50%;
        font-size: 20px;

        .contacts p {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid grey;
            margin-bottom: 15px;
        }

        .total-info{
            margin-top: 20px;


            p{
                color: rgb(3, 26, 3);
            }
        }

    }
}

.order-message{
    font-size: 20px;
    margin: 60px 0;
}


#goMainPage{
    margin: 0 auto;
    display: block;
}

.not-active-btn{
    background: #8a8a8a;
    border: 1px solid #8a8a8a;
    
    cursor: grab;
    &:hover{
        background: #8a8a8a;
        border: 1px solid #8a8a8a;
        color: #fff;
        cursor: no-drop;
    }
}

.chosen-pizza{
    width: 100%;
    padding: 10px 0;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    height: fit-content;
    line-height: 2;

    img{
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 30px;
    }

    h1{
        text-decoration: underline;
    }
    p{
        font-size: 18px;
    }
}